center{
    margin-top: 100px;
}




.box {
    margin: auto auto;
    min-height: 400px;
}

.cube {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}
.cube-wrap {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: 10s cubeKey linear infinite;
}
@keyframes cubeKey {
    0%{
        perspective: 1000px;

    }
    25%{
        perspective: 10px;


    }
    50%{
        perspective: 10px;

    }
    75%{
        perspective: 10px;

    }
    100%{
        perspective: 1000px;

    }

}
.cube {
    margin: auto;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: red;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cube {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}


.front {
    -webkit-transform: translateZ(100px);
    background: black;
    color: white;
}
.name{
    position: absolute;
}
.top {
    -webkit-transform: rotateX(-270deg) translateY(-100px);
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
    background-color: #ff00f9;
}
.bottom {
    -webkit-transform: rotateX(270deg) translateY(100px);
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
    background-color: #7552bc;
}
.left {
    -webkit-transform: rotateY(270deg) translateX(-100px);
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background-color: #00ff73;
}
.right {
    -webkit-transform: rotateY(-270deg) translateX(100px);
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background-color: #ffc900;
}

.cube > div {
    position: absolute;
    box-sizing: border-box;
    /* padding: 10px; */
    line-height: 200px;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    font-weight: bold;
}